body {
  margin: 0;
}

a { 
  box-shadow: 0 2.5px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
a:hover{
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

@media screen and (max-width:576px) {
  a:hover{transform: scale(1); box-shadow: 0 2.5px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);}
}