

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="..." class="card-img-bottom" alt="...">
  </div>
<ul *ngFor="let card of data; let i = index">
   
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{card.make}}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content. </p>
      <a href="vehicle/{{card.id}}" class="btn btn-primary">Button</a>
    </div>
  </div>
  
</ul>






<div class="row row-cols-4 row-cols-md-4 g-4" >
  <div class="col">
    <div class="card" *ngFor="let card of data; let i = index">
      <img src="../../assets/img/carlogo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{card.make}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  
</div>




<div class="card-group" >
 
    <div class="card" *ngFor="let card of data; let i = index"> 
      <a href="vehicle/{{card.id}}">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{card.make}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{card.vin}}</small>
      </div>
      </a>
    </div>
  
</div>