body {
  margin: 0;
//   display: grid;
//   grid-template-columns: 150px auto 150px;
//   grid-template-rows: 150px auto 150px;
}

a { 
  box-shadow: 0 2.5px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
a:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}


// img { 
//     max-height: 450px;
    
// }

@media screen and (max-width:576px) {
  a:hover{transform: scale(1); box-shadow: 0 2.5px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);}
  
  
}