<p>vehicle-search works!</p>

<p>{{results.SearchCriteria}}</p>
<p>{{results.Results[0].Variable}}</p>
<p>Make: {{results.Results[6].Value}}</p>
<p>{{results.Results[7].Variable}}: {{results.Results[7].Value}}</p>
<p>{{results.Results[8].Variable}}: {{results.Results[8].Value}}</p>
<p>{{results.Results[12].Variable}}: {{results.Results[12].Value}}</p>
<p>{{results.Results[21].Variable}}: {{results.Results[21].Value}}</p>
<p>{{results.Results[26].Variable}}: {{results.Results[26].Value}}</p>

<p>{{data[0].make}}</p>

