<p>vehicle-search works!</p>


<section>
    <form class="d-flex">
        <input [(ngModel)]="vin" name="VIN" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button  (click)="Searcher(vin)" class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Search</button>
    </form>
</section>

    <!-- <input [(ngModel)]="vin"  (keyup.enter)="Searcher(vin)" type="text" placeholder="Zip Code Here"/>
    <input (click)="Searcher(vin)"  type="submit" value="Search"/>
<form (ngSubmit)="Searcher(vin)">
    <input [(ngModel)]="vin" name="VIN" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button  (click)="Searcher(vin)" class="btn btn-outline-success" type="submit">Search</button>
</form> -->
<!-- <p>{{results.SearchCriteria}}</p>
<p>{{results.Results[0].Variable}}</p>
<p>Make: {{results.Results[6].Value}}</p>
<p>{{results.Results[7].Variable}}: {{results.Results[7].Value}}</p>
<p>{{results.Results[8].Variable}}: {{results.Results[8].Value}}</p>
<p>{{results.Results[9].Variable}}: {{results.Results[9].Value}}</p>
<p>{{results.Results[21].Variable}}: {{results.Results[21].Value}}</p>

{{vin}}
<p>{{data[0].make}}</p> -->



  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Vehicle Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{results.SearchCriteria}}</p>
            <p>Make: {{results.Results[6].Value}}</p>
            <p>{{results.Results[7].Variable}}: {{results.Results[7].Value}}</p>
            <p>{{results.Results[8].Variable}}: {{results.Results[8].Value}}</p>
            <p>{{results.Results[9].Variable}}: {{results.Results[9].Value}}</p>
            <p>{{results.Results[21].Variable}}: {{results.Results[21].Value}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="AddVehicle()" data-bs-dismiss="modal">Add Vehicle</button>
        </div>
      </div>
    </div>
  </div>
  