
<h2 class="mt-5  text-center">Search Vehicle By VIN</h2>

<section class="mx-auto" style="width:50%">
    <form class="d-flex">
        <input [(ngModel)]="vin" name="VIN" class="form-control me-2" type="search" placeholder="Search VIN" aria-label="Search VIN">
        <button  (click)="Searcher(vin)" class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#addVehicle">Search</button>
    </form>
</section>

  
  <!-- Modal -->
  <div class="modal fade" id="addVehicle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Vehicle Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{results.SearchCriteria}}</p>
            <p>{{results.Results[6].Variable}}: {{results.Results[6].Value}}</p>
            <p>{{results.Results[7].Variable}}: {{results.Results[7].Value}}</p>
            <p>{{results.Results[8].Variable}}: {{results.Results[8].Value}}</p>
            <p>{{results.Results[9].Variable}}: {{results.Results[9].Value}}</p>
            <p>{{results.Results[21].Variable}}: {{results.Results[21].Value}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="AddVehicle()" data-bs-dismiss="modal">Add Vehicle</button>
        </div>
      </div>
    </div>
  </div>
  