

<nav class="navbar navbar-light bg-light shadow-sm fixed-top">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">GarageTracker</a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GarageTracker</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><img src="../../assets/img/home.gif" class="icons">  Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/garage"><img src="../../assets/img/garage.png" class="icons">  My Garage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search"><img src="../../assets/img/add.png" class="icons">  Add New Vehicle</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
