<div class="modal fade" id="gasFillModal" tabindex="-1" aria-labelledby="createPostModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <form class="gasfill mx-auto" [formGroup]="form" >
              <!-- #postForm="ngForm"> -->
                <!-- {{form.value | json}} -->
                <h3>Add Gas Fill</h3>
                <hr />
                <div class="mb-2">
                  <input  formControlName="date" type="text" class="form-control"  id="date" placeholder="MM/DD/YYYY"  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                </div>
                <div class="mb-3">
                  <input  formControlName="totalAmount" type="number" class="form-control" id="totalAmount" placeholder="Total Gallons">
                </div>
                <div class="mb-3">
                  <input  formControlName="cost" type="number" class="form-control" id="cost" placeholder="Cost per Gallon">
                </div>
              <!-- button is disabled until form is valid-->
              <button  type="button" class="btn btn-primary"  (click)="onSubmit()" data-bs-dismiss="modal" [disabled]="!form.valid">Submit</button>
              <!-- when button is click it submits its new object -->
              </form>
            </div>
          </div>
        </div>    
